
html,
body {
	height: 100%;
	display: flex;
	flex: 1;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	flex-direction: column;
	padding: 0.3em;
}

#ooplie-output,
#ooplie-input-wrapper {
	flex: 0;
	flex-basis: auto;
}
#ooplie-input-wrapper {
	display: flex;
}
#ooplie-input {
	flex: 1;
}

#ooplie-output {
	overflow: auto;
}
#ooplie-input-wrapper,
.entry {
	padding: 0.25em 0.5em;
	padding-left: 1em;
	position: relative;
}
/*
#ooplie-input-wrapper::before,
.entry.input::before {
	content: "›";
	content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M6%2C4L10%2C8L6%2C12%22%20fill%3D%22none%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	position: absolute;
	left: 0;
}
*/
#ooplie-input-wrapper > .octicon:first-child,
.entry.input > .octicon:first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.entry.input {
	color: gray;
}
.error {
	color: #A00;
	background: #FFF5F5;
}
